*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(56, 55, 55);
    background-color: #e3f3f5;
    font-family:  Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}
/* Header/Nav Styling Start */

header {
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 35px 10px 0;
}
h1 {
 background-color: rgb(158, 243, 179);
 padding: 5px 5px 5px 50px;

}

header img {
    height: 50px;
    border-radius: 50px;
}

header img:hover {
    transform: scale(4) translateY(20px);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-weight: bold;
    color: lightskyblue;
    border-bottom: lightskyblue solid;
    margin: 0 5px;
    padding: 0 20px;
}
/* Header/Nav Styling End */

/* Banner styling and positioning*/
.banner {
    display: flex;
    background-image: url("../images/polygonal-banner.jpg");
    height: 200px;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner h2 {
    background-color: lightsteelblue;
    padding: 5px;
    width: 250px;
    height: 40px;
    font-size: 30px;
}
/* Banner Styling End */

/* Section universal styling */
section {
    display: flex;
    padding: 10px;
    justify-content: space-betweenf;
    margin-right: 40px;
}

.sect-title {
    text-align: right;
    width: 180px;
    padding-right: 35px;
    padding-left: 80px;
    border-right: limegreen solid 5px;
}
/* Section universal styling end */

/* About me content styling */
.intro p {
    padding-left: 20px;
}
/* About me content styling end */

/* My Work styling */
.Work-Sect{
    display: flex;
    justify-content: space-around;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
}

.content article {
    border: darkseagreen solid 5px;
    display: flex;
    align-items: flex-end;
    margin: 5px 10px;
    width: 45%;
    height: 200px;
}

.content article a {
    height: 100%;
    width: 100%;
}

.content article a img {
    width: 100%;
}

article img {
    opacity: 0;
    max-height: 100%;
    max-width: 100%;
}

.content article img:hover{
    opacity: .4;
}

.work-title {
    margin: 0;
    width: max-content;
    background-color: darkseagreen;
    height: max-content;
    position: absolute;
    margin-bottom: 8px;
}

/* inserting images into article sections (found it was easier to style how I wanted this way) */

.pscape {
    background-image: url("../images/croppedrockies.png");
    background-size: cover;
    min-width: 100%;
    margin-left: 10px;
    min-height: 500px;
}

.pscape img {
    height: 100%;
    width: 100%;
}

.LEDwall{
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
}

.Horiseon {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
}

.everywherep {
    background-image: url("../images/everywhere-home.png");
    background-size: cover;
}

.rbuddy {
    background-image: url("../images/run-buddy.jpg");
    background-size: cover;
}
/* My Work styling end */

/* Contact me Styling */
.contactme {
    align-items: center;
    justify-content: flex-start;
}
.contactme a {
    color: black;
}
.contactme ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.contactme ul li a {
    font-weight: bolder;
    margin: 0 40px;
    border-bottom: solid;
}
/* Contact me Styling end */

/* footer styling */
footer {
    background-color: darkturquoise;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer h2 {
    font-size: x-large;
    font-weight: bolder;
}
/* footer styling end */